/* this page only looks good on full screen LOL */
.landing h1 {
    padding-top: 8.0rem;
    display: flex;
    justify-content: center;
    letter-spacing: 0.2rem;
    font-size: 4.0rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.landing h2 {
    display: flex;
    justify-content: center;
    letter-spacing: 0.2rem;
    font-size: 3.0rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.calendar-container {
    display: flex;
    justify-content: center;
}

.react-calendar {
    width: 500px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.565);
    border: none;
    border-radius: 1.0rem;

}

.react-calendar__navigation button {
    color: #0f172a;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
    border-radius: 1.0rem;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    /* background-color:rgba(255, 255, 255, 0.497); */
    background-color: rgba(255, 255, 255, 0.111);
}

/* .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
} */

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: rgba(255, 255, 255, 0.111);
    color: #0f172a;
    border-radius: 6px;
}

.react-calendar__tile--now {
    background: #0f172a;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #1d4ed8;
    border-radius: 6px;
    font-weight: bold;
    color: white;;
}

