
.landing h1{
    padding-top: 3.5rem;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
}

.landing h2{
    display: flex;
    justify-content: center;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    font-size: 2rem;
}

.calendar-container{
    display: flex;
    justify-content: center;
}

.react-calendar{
    width: 400px;
    max-width: 100%;
}
